<!-- <svg class="Rectangle_2528">
  <rect id="Rectangle_2528" rx="10" ry="10" x="0" y="0" width="603.458" height="166">
  </rect>
</svg>
<img id="Mask_Group_18" src="Mask_Group_18.png" srcset="../../assets/01/Mask_Group_18.png 1x, ../../assets/01/Mask_Group_18@2x.png 2x">
<div id="Group_3332">
  <div id="Hi_Muhammed_you_closed_150_tic">
    <span>Hi Muhammed,</span><br><span style="color:rgba(63,66,70,1);">you closed 150 tickets last week.</span>
  </div>
  <div id="n_3-Sep-2022_0130">
    <span>13-Sep-2022 01:30</span>
  </div>
</div>
 -->
<div class="row" style="margin-top: 45.43px;">
<div class="col-3">
  <div class="card" style="width: 603px; height: 166px;  box-shadow: 3px 3px 3px #00000029; border-radius: 10px; opacity: 1;">
    <div class="card-body">


    </div>
  </div>
  </div>
</div>
