<img id="Mask_Group_21" src="Mask_Group_21.png" srcset="../../../assets/01/Mask_Group_21.png 1x, ../../../assets/01/Mask_Group_21@2x.png 2x">


<img id="Mask_Group_45" src="Mask_Group_45.png" srcset="../../../assets/01/Mask_Group_45.png 1x, ../../../assets/01/Mask_Group_45@2x.png 2x">


<img id="Group_3410" src="Group_3410.png" srcset="../../../assets/01/Group_3410.png 1x, ../../../assets/01/Group_3410@2x.png 2x">


<img id="Mask_Group_46" src="Mask_Group_46.png" srcset="../../../assets/01/Mask_Group_46.png 1x, ../../../assets/01/Mask_Group_46@2x.png 2x">


<img id="Mask_Group_47" src="Mask_Group_47.png" srcset="../../../assets/01/Mask_Group_47.png 1x, ../../../assets/01/Mask_Group_47@2x.png 2x">

<svg class="Rectangle_2532">
  <rect id="Rectangle_2532" rx="10" ry="10" x="0" y="0" width="188.24" height="166">
  </rect>
</svg>
<svg class="Rectangle_2533">
  <rect id="Rectangle_2533" rx="10" ry="10" x="0" y="0" width="188.24" height="166">
  </rect>
</svg>
<svg class="Rectangle_2534">
  <rect id="Rectangle_2534" rx="10" ry="10" x="0" y="0" width="188.24" height="166">
  </rect>
</svg>
<svg class="Path_2964" viewBox="0 0 188.24 166">
  <path id="Path_2964" d="M 10 0 L 178.23974609375 0 C 183.7625885009766 0 188.23974609375 4.477152347564697 188.23974609375 10 L 188.23974609375 156 C 188.23974609375 161.5228424072266 183.7625885009766 166 178.23974609375 166 L 10 166 C 4.477152347564697 166 0 161.5228424072266 0 156 L 0 10 C 0 4.477152347564697 4.477152347564697 0 10 0 Z">
  </path>
</svg>
<div id="n_0">
  <span>20</span>
</div>
<div id="n_">
  <span>1</span>
</div>
<div id="n__ck">
  <span>1</span>
</div>
<img id="Group_3224" src="Group_3224.png" srcset="Group_3224.png 1x, Group_3224@2x.png 2x">


<div id="Open">
  <span>Open</span>
</div>
<div id="Completed">
  <span>Completed</span>
</div>
<div id="In_Progress">
  <span>In Progress</span>
</div>
<div id="n_0_cp">
  <span>20</span>
</div>
<div id="Closed">
  <span>Closed</span>
</div>
<img id="Mask_Group_21" src="Mask_Group_21.png" srcset="../../../assets/01/Mask_Group_21.png 1x, ../../../assets/01/Mask_Group_21@2x.png 2x">


<img id="Mask_Group_45" src="Mask_Group_45.png" srcset="../../../assets/01/Mask_Group_45.png 1x, ../../../assets/01/Mask_Group_45@2x.png 2x">


<img id="Group_3410" src="Group_3410.png" srcset="../../../assets/01/Group_3410.png 1x, ../../../assets/01/Group_3410@2x.png 2x">


<img id="Mask_Group_46" src="Mask_Group_46.png" srcset="../../../assets/01/Mask_Group_46.png 1x, ../../../assets/01/Mask_Group_46@2x.png 2x">


<img id="Mask_Group_47" src="Mask_Group_47.png" srcset="../../../assets/01/Mask_Group_47.png 1x, ../../../assets/01/Mask_Group_47@2x.png 2x">
