

<ul class="nav">

  <li class="nav-item">
    <img id="pexels-italo-melo-2379004" src="pexels-italo-melo-2379004.png" srcset= "{{profile.profilePicturex1}} , {{profile.profilePicturex2}} 2x">
    </li>


  <li class="nav-item">
<div id="Muhamed_Sajid">
  <p>{{profile.name}}</p>
</div>

  </li>

</ul>



<div id="Ahmed_-_AP">
  <span>{{profile.team}}</span>
</div>
<div id="asajidjathwacomsa">
  <span>{{profile.email}}</span>
</div>
<div id="n_54-111-0000">
  <span>{{profile.mobileNumber}}</span>
</div>
<div id="Decision_Maker_Ahmed_Hamad">
  <span>Decision Maker: {{profile.decisionMaker}}</span>
</div>
<div id="Comprehensive_insurance">
  <span>Comprehensive insurance</span>
</div>
