.btn-circle.btn-sm-logout {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#Muhamed_Sajid {

  position: relative;
  overflow: visible;
  left: 50%;
  transform: translate(-50%, 0 );
    white-space: nowrap;
  line-height: 23px;
  margin-top: -1px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(75,75,75,1);
  letter-spacing: 0.15px;
}
#Ahmed_-_AP {

  position: relative;
  overflow: visible;
  left: 50%;
  transform: translate(-50%, 0 );
  white-space: nowrap;
  line-height: 23px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(166,178,200,1);
  letter-spacing: 0.3px;
}
#Comprehensive_insurance {

  left: 50%;
  transform: translate(-50%, 0 );
  position: relative;
  overflow: visible;
  width: 185px;
  white-space: nowrap;
  line-height: 23px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(75,75,75,1);
  letter-spacing: 0.3px;
}
#asajidjathwacomsa {

  position: relative;
  overflow: visible;
  left: 50%;
  transform: translate(-50%, 0 );
  white-space: nowrap;
  line-height: 23px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(166,178,200,1);
  letter-spacing: 0.3px;
}
#n_54-111-0000 {

  position: relative;
  overflow: visible;
  left: 50%;
  transform: translate(-50%, 0 );
  white-space: nowrap;
  line-height: 23px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(166,178,200,1);
  letter-spacing: 0.3px;
}
#Decision_Maker_Ahmed_Hamad {

  position: relative;
  overflow: visible;
  left: 50%;
  transform: translate(-50%, 0 );
  white-space: nowrap;
  line-height: 23px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(166,178,200,1);
  letter-spacing: 0.3px;
}
#pexels-italo-melo-2379004 {
  position: relative;
  overflow: visible;

  left: 50%;
  transform: translate(-50%, 0 );
  margin-top: 10;
  display: flex;
}
