
<div class="card" style="border: 0px; ">

  <div class="card-body"  style="align-self: center;   justify-content: center;">



    <img id="pexels-italo-melo-2379004"  src="pexels-italo-melo-2379004.png" srcset= "{{profile.profilePicturex1}} , {{profile.profilePicturex2}} 2x">




    <div id="Muhamed_Sajid">
      <p style="text-align: center;">{{profile.name}}</p>
    </div>




    <div id="Comprehensive_insurance">
          <p style="text-align: center;">Comprehensive insurance</p>
        </div>

  <div id="n_54-111-0000">
            <p style="text-align: center;">{{profile.mobileNumber}}</p>
          </div>
        <div id="Ahmed_-_AP">
          <p style="text-align: center;">{{profile.team}}</p>
        </div>
        <div id="asajidjathwacomsa">
          <p style="text-align: center;">{{profile.email}}</p>
        </div>

        <div id="Decision_Maker_Ahmed_Hamad">
          <p style="text-align: center;">Decision Maker: {{profile.decisionMaker}}</p>
        </div>

</div>
</div>
