

<div class="col">
<div class="container-fluid">
  <div class="row">

    <div class="col-4">


          <div class="card" style="max-width: 475px; max-height: 269px; border-radius: 10px; opacity: 1;">
            <div class="card-body">

                  <canvas  id="MyChart1" >{{ chart1 }}</canvas>
            </div>
          </div>
    </div>







    <div class="col-4">


          <div class="card" style="max-width: 475px; max-height: 269px; border-radius: 10px; opacity: 1;">
            <div class="card-body">

              <canvas  id="MyChart2" >{{ chart2 }}</canvas>

            </div>
          </div>
          </div>






    <div class="col-4">


          <div class="card" style="max-width: 475px; max-height: 269px; border-radius: 10px; opacity: 1;">
            <div class="card-body">

              <canvas  id="MyChart3" >{{ chart3 }}</canvas>

            </div>
    </div>




</div>
 </div>
</div>
</div>
