

<svg class="Rectangle_2642">
  <rect id="Rectangle_2642" rx="10" ry="10" x="0" y="0" width="964.635" height="421">
  </rect>
</svg>
<div id="Recent_Tickets">
  <span>Recent Tickets</span>
</div>
<div id="Scroll_Group_2">
  <div id="Group_3496">
    <div id="Group_3495">
      <svg class="Rectangle_2653">
        <rect id="Rectangle_2653" rx="10" ry="10" x="0" y="0" width="903" height="257">
        </rect>
      </svg>
      <div id="n__days_ago">
        <span>5 days ago</span>
      </div>
      <div id="Ticket_Number_987654345">
        <span>Ticket Number: 987654345</span>
      </div>
      <div id="Department_Name_Comprehensive_">
        <span>Department Name: Comprehensive insurance </span>
      </div>
      <div id="started_17-02-2022">
        <span>started:</span><span style="font-style:normal;font-weight:normal;"> 17-02-2022</span>
      </div>
      <div id="Owner_Ziad_Elmuhamaddy">
        <span>Owner:</span><span style="font-style:normal;font-weight:normal;"> Ziad Elmuhamaddy</span>
      </div>
      <div id="Department_financial_managemen">
        <span>Department:</span><span style="font-style:normal;font-weight:normal;"> financial management</span>
      </div>
      <div id="Type_Marine">
        <span>Type:</span><span style="font-style:normal;font-weight:normal;"> Marine</span>
      </div>
      <div id="Area_Claim">
        <span>Area:</span><span style="font-style:normal;font-weight:normal;"> Claim</span>
      </div>
      <div id="Sub_Area_Register_Claim">
        <span>Sub Area: </span><span style="font-style:normal;font-weight:normal;">Register Claim</span>
      </div>
      <div id="Conference_on_the_sales_result">
        <span>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</span>
      </div>
    </div>
  </div>
  <div id="Group_3497">
    <div id="Group_3495_dd">
      <svg class="Rectangle_2653_de">
        <rect id="Rectangle_2653_de" rx="10" ry="10" x="0" y="0" width="903" height="257">
        </rect>
      </svg>
      <div id="n__days_ago_df">
        <span>5 days ago</span>
      </div>
      <div id="Ticket_Number_987654345_dg">
        <span>Ticket Number: 987654345</span>
      </div>
      <div id="Department_Name_Comprehensive__dh">
        <span>Department Name: Comprehensive insurance </span>
      </div>
      <div id="started_17-02-2022_di">
        <span>started:</span><span style="font-style:normal;font-weight:normal;"> 17-02-2022</span>
      </div>
      <div id="Owner_Ziad_Elmuhamaddy_dj">
        <span>Owner:</span><span style="font-style:normal;font-weight:normal;"> Ziad Elmuhamaddy</span>
      </div>
      <div id="Department_financial_managemen_dk">
        <span>Department:</span><span style="font-style:normal;font-weight:normal;"> financial management</span>
      </div>
      <div id="Type_Marine_dl">
        <span>Type:</span><span style="font-style:normal;font-weight:normal;"> Marine</span>
      </div>
      <div id="Area_Claim_dm">
        <span>Area:</span><span style="font-style:normal;font-weight:normal;"> Claim</span>
      </div>
      <div id="Sub_Area_Register_Claim_dn">
        <span>Sub Area: </span><span style="font-style:normal;font-weight:normal;">Register Claim</span>
      </div>
      <div id="Conference_on_the_sales_result_do">
        <span>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</span>
      </div>
    </div>
  </div>
  <div id="Group_3498">
    <div id="Group_3495_dq">
      <svg class="Rectangle_2653_dr">
        <rect id="Rectangle_2653_dr" rx="10" ry="10" x="0" y="0" width="903" height="257">
        </rect>
      </svg>
      <div id="n__days_ago_ds">
        <span>5 days ago</span>
      </div>
      <div id="Ticket_Number_987654345_dt">
        <span>Ticket Number: 987654345</span>
      </div>
      <div id="Department_Name_Comprehensive__du">
        <span>Department Name: Comprehensive insurance </span>
      </div>
      <div id="started_17-02-2022_dv">
        <span>started:</span><span style="font-style:normal;font-weight:normal;"> 17-02-2022</span>
      </div>
      <div id="Owner_Ziad_Elmuhamaddy_dw">
        <span>Owner:</span><span style="font-style:normal;font-weight:normal;"> Ziad Elmuhamaddy</span>
      </div>
      <div id="Department_financial_managemen_dx">
        <span>Department:</span><span style="font-style:normal;font-weight:normal;"> financial management</span>
      </div>
      <div id="Type_Marine_dy">
        <span>Type:</span><span style="font-style:normal;font-weight:normal;"> Marine</span>
      </div>
      <div id="Area_Claim_dz">
        <span>Area:</span><span style="font-style:normal;font-weight:normal;"> Claim</span>
      </div>
      <div id="Sub_Area_Register_Claim_d">
        <span>Sub Area: </span><span style="font-style:normal;font-weight:normal;">Register Claim</span>
      </div>
      <div id="Conference_on_the_sales_result_d">
        <span>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</span>
      </div>
    </div>
  </div>
</div>



