<!-- <svg class="Rectangle_497">
  <rect id="Rectangle_497" rx="0" ry="0" x="0" y="0" width="1555" height="98">
  </rect>
</svg> -->



<nav class="header" style="background-color:#2588DF;" >
  <div class="container">


    <div id="Dashboard_ef" style="position:relative;">
    <a class="navbar-brand" style=" display: flex;">Dashboard</a>
    </div>
  <div onclick="application.goToTargetView(event)" id="n_Comprehensive_Insurance_Depa">
  <span> Comprehensive Insurance Department </span>
    </div>
  </div>


</nav>









