<svg class="Rectangle_2641">
  <rect id="Rectangle_2641" rx="10" ry="10" x="0" y="0" width="475.24" height="421">
  </rect>
</svg>

<svg class="Rectangle_2645">
  <rect id="Rectangle_2645" rx="10" ry="10" x="0" y="0" width="188.24" height="115.834">
  </rect>
</svg>

<svg class="Rectangle_2644">
  <rect id="Rectangle_2644" rx="10" ry="10" x="0" y="0" width="188.24" height="115.834">
  </rect>
</svg>

{{

<div id="n_85">
  <span>385</span>
</div>

<div id="n_35">
  <span>135</span>
</div>

<div id="My_Tickets_br">
  <span>My Tickets</span>
</div>

<div id="Escalated_Tickets">
  <span>Escalated Tickets</span>
</div>

<div id="Tickets_Priority">
  <span>Tickets Priority</span>
</div>

<div id="Icon_feather-arrow-up-right">
  <svg class="Path_2926" viewBox="-17.219 10.5 66.675 98.833">
    <path id="Path_2926" d="M -17.21924018859863 109.3333129882812 L 49.45576858520508 10.50000095367432">
    </path>
  </svg>
  <svg class="Path_2927" viewBox="10.5 10.5 49.073 49.073">
    <path id="Path_2927" d="M 10.50000095367432 10.50000095367432 L 59.57329177856445 10.50000095367432 L 59.57329177856445 59.57329177856445">
    </path>
  </svg>
</div>


<svg class="Rectangle_2646">
  <rect id="Rectangle_2646" rx="10" ry="10" x="0" y="0" width="413.239" height="41.5">
  </rect>
</svg>
<svg class="Rectangle_2647">
  <rect id="Rectangle_2647" rx="0" ry="0" x="0" y="0" width="61" height="41.5">
  </rect>
</svg>
<svg class="Rectangle_2648">
  <rect id="Rectangle_2648" rx="0" ry="0" x="0" y="0" width="314.239" height="41.5">
  </rect>
</svg>
<div id="n_76">
  <span>176</span>
</div>
<div id="n_4">
  <span>74</span>
</div>
<div id="n_35">
  <span>135</span>
</div>
<div id="High">
  <span>High</span>
</div>
<div id="Group_3384">
  <svg class="Rectangle_2650">
    <rect id="Rectangle_2650" rx="8" ry="8" x="0" y="0" width="24.778" height="25.25">
    </rect>
  </svg>
  <div id="Normal">
    <span>Normal</span>
  </div>
</div>
<div id="Low">
  <span>Low</span>
</div>
<div id="n_35_bp">
  <span>135</span>
</div>


<svg class="Rectangle_2651">
  <rect id="Rectangle_2651" rx="8" ry="8" x="0" y="0" width="24.778" height="25.25">
  </rect>
</svg>
<svg class="Rectangle_2649">
  <rect id="Rectangle_2649" rx="8" ry="8" x="0" y="0" width="24.778" height="25.25">
  </rect>
</svg>



